<div class="blog-post">

    <!-- Title -->
    <h2 class="blog-post-title">
            <%- item.title || item.link%>
    </h2>

    <% if(page.layout=="post" ) { %>
    <!-- Date and Author -->
    <p class="blog-post-meta">
        <%= item.date.format(config.date_format) %>
        <% if(item.author) { %>
            by <%- item.author %>
        <% } %>
    </p>
    <% } %>

    <!-- Content -->
    <%- item.content %>

    <hr />

    <!-- Tags and Categories links -->
    <%- partial('article-tags', {item: item}) %>
    <%- partial('article-categories', {item: item}) %>

</div>